body {
    background-color: rgba(0, 0, 0, 0.74);
    font-family: 'Roboto', serif;
    margin: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-items: center;
}

p {
    font-size: 200px;
    color: white;
    height: 100px;
    margin-top: 250px;
}

#form {
    color: white;
    display: grid;
    justify-content: center;
    width: 450px;
    height: 250px;
    padding: 10px;
    margin-top: -350px;
}

#form input {
    border: none;
    height: 50px;
    width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -5px;
    font-size: 25px;
    outline: none;
}


#form input:hover {
    box-shadow: 0 0 20px 2px rgba(255, 255, 255, 0.76);
}

#form span {
    letter-spacing: 1px;
    font-size: 18px;
    padding-left: 20px;    
}

#form #b {
    color: white;
    background-color: black;
    width: 400px;
    margin-top: 10px;
    font-family: 'Roboto', serif;
}